h1, h2, h3, h4, h5, h6, p {
    color: white;
    margin: 5px;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}



header {
    background-image: linear-gradient(to bottom, #0B11C9, #000000);
    background-size: fit;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 120px;

    display: flex; /* puts everything in one line */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#icon {
    float: left;
    height: 80px;
    width: 80px;
    margin: auto;
    margin-right: 10px;
}

.intro {
    width: 450px;
    height: 80px; 
    align-items: center;
}

.intro h4,
.intro p {
    margin: 0;
    padding: 0;
}

.nav { /* class is .*/
    display: flex;
    width: 950px;
    height: 80px;

    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* thank you google and chatgpt for pointing out my coding errors 
    as well as showing me proper snytax <3 */

body {
    background-color: #060857;
    margin: 0;
    padding: 0;
}

div#headerer {
    text-align: center;
}

div#img2 {
    display: flex;
    align-items: center;
}





