p {
    font-size: 20px;
}

.headerer {
    display: grid;
    place-items: center;  
}

.headerer h4 {
    margin-left: 100px;
}

.intro2 {
    width: 600px;
    height: 100px; 
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
}

.intro2 h1,
.intro2 h2 {
    margin: 0;
    padding: 0;
}

#icon2 {
    float: left;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-right: 10px;
}

.middle {
    display: flex;
    align-items: flex-start;
}

.desc {
    float: left;
    margin: 10px;
    padding: 10px;
}

.funs {
    font-family: "vanilla";
    font-size: 20px;
    }

.funs:hover {
    color: rgb(124, 121, 193);
}

.mainCont {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    width: 500px;
    height: 500px;
}

.bigImage {
    display: block;
    width: 500px;
    height: 250px;
    margin: auto;
    border-radius: 25px; 
}

div.cont {
    display: flex;
    align-items: flex-start;
}

.midImage {
    display: flex; 
    align-items: center;
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px; 
}

