.actualPolaris {
    display: flex;
    align-items: flex-start;
    width: cover;
    height: auto;
    margin: 20px;
}

#polaris {
    width: 70%;
    margin: 15px;
}

#placeholder {
    width: 100%;
    height: 50%;
}

aside#dropboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    width: 45%;
    height: 100%;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px; 
}

#view {
    margin: 5px;
}



.dropbtn {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;


    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #514da4;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content {
    outline-color: white;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);

    display: none;
    justify-content: center;
}

.dropdown-content a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.show {display:block;}



.dropbtn2 {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    width: 70%;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content2 {
    outline-color: white;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);

    display: none;
    justify-content: center;
}

.dropdown-content2 a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}


.show2 {display:block;}


.dropbtn3 {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    width: 70%;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content3 {
    outline-color: white;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);

    display: none;
    justify-content: center;
}

.dropdown-content3 a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.show3 {display:block;}


.dropbtn4 {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    width: 70%;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content4 {
    outline-color: white;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);

    display: none;
    justify-content: center;
}

.dropdown-content4 a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.show4 {display:block;}