.actualPolaris {
    display: flex;
    align-items: flex-start;
    width: cover;
    height: auto;
    margin: 20px;
}

#polaris {
    width: 70%;
    margin: 15px;
}

#placeholder {
    width: 100%;
    height: 50%;
}

aside#dropboxes {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    width: 45%;
    height: 100vh;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px; 
}

#view {
    margin-bottom: 5px;
    border: 2px solid #ffffff;
    border-radius: 18px; 

}


.dropbtn {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #3f3a99, #29257c);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:active {
    transform: translateY(4px);
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #514da4;
}

.dropdown-content {
    border: white;
    background: transparent;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 2px auto;
    width: 80%;
    max-height: 160px;
    overflow-y: auto; 

    border-radius: 20px;
    z-index: 1000;
}

.dropdown-content a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.drpdwnbutton {
    display: block;
    margin: 3px auto;
    padding: 12px 18px;

    width: 80%;
    height: 20%;
    text-align: center;

    border: 2px solid white;
    border-radius: 20px;
    transition: background 0.2s ease, transform 0.1s ease;

    font-size: 20px;
}

.show {display:block;}

.searchbar {
    font-family: vanilla;
}

.dropdown-content a:hover {background-color: #1d1a58;}



.dropbtn2 {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #3f3a99, #29257c);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn2:active {
    transform: translateY(4px);
}

.dropbtn2:hover, .dropbtn2:focus {
  background-color: #514da4;
}

.dropdown-content2 {
    border: white;
    background: transparent;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 2px auto;
    width: 80%;
    max-height: 160px;
    overflow-y: auto; 

    border-radius: 20px;
    z-index: 1000;
}

.dropdown-content2 a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.drpdwnbutton2 {
    display: block;

    margin: 3px auto;
    padding: 12px 18px;

    width: 80%;
    height: 20%;
    text-align: center;

    border: 2px solid white;
    border-radius: 20px;
    transition: background 0.2s ease, transform 0.1s ease;

    font-size: 20px;
}

.show2 {display:block;}

.searchbar2 {
    font-family: vanilla;
}

.dropdown2-content a:hover {background-color: #1d1a58;}




.dropbtn3 {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #3f3a99, #29257c);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn3:active {
    transform: translateY(4px);
}

.dropbtn3:hover, .dropbtn3:focus {
  background-color: #514da4;
}

.dropdown-content3 {
    border: white;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px auto;
    width: 80%;
    max-height: 160px;
    overflow-y: auto; 

    border-radius: 20px;
    z-index: 1000;
}

.dropdown-content3 a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.drpdwnbutton3 {
    display: block;

    margin: 3px auto;
    padding: 12px 18px;

    width: 80%;
    height: 20%;
    text-align: center;

    border: 2px solid white;
    border-radius: 20px;
    transition: background 0.2s ease, transform 0.1s ease;

    font-size: 20px;
}

.show3 {display:block;}

.searchbar3 {
    font-family: vanilla;
}

.dropdown3-content a:hover {background-color: #1d1a58;}




.dropbtn4 {
    border: 2px solid #ffffff;
    background-image: linear-gradient(to bottom, #3f3a99, #29257c);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;

    color: white;
    font-family: starborn;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn4:active {
    transform: translateY(4px);
}

.dropbtn4:hover, .dropbtn4:focus {
  background-color: #514da4;
}

.dropdown-content4 {
    border: white;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px auto;
    width: 80%;
    max-height: 160px;
    overflow-y: auto; 

    border-radius: 20px;
    z-index: 1000;
}

.dropdown-content4 a {
    color: white;
    font-family: vanilla;
    text-decoration: none;
    display: block;
}

.drpdwnbutton4 {
    display: block;

    margin: 3px auto;
    padding: 12px 18px;

    width: 80%;
    height: 20%;
    text-align: center;

    border: 2px solid white;
    border-radius: 20px;
    transition: background 0.2s ease, transform 0.1s ease;

    font-size: 20px;
}

.show4 {display:block;}

.searchbar4 {
    font-family: vanilla;
}

.dropdown4-content a:hover {background-color: #1d1a58;}
