label {
    font-family: starborn;
    color: white;
    font-size: 20px;
}

input {
    width: 35%;
    height: 20%;
    display: flex;
    
    font-family: vanilla;
    color: white;
    font-size: 15px;
}

