
label {
    font-family: starborn;
    color: white;
    font-size: 30px;
}

input {
    width: 35%;
    height: 20px;
    padding: 10px 10px; /* adds space inside for text */
    display: flex;
    
    background-color: #514da4;
    border: 2px, #ffffff;
    font-family: vanilla;

    color: white;
    font-size: 20px;
}

.toCenter {
    display: flex; /* puts everything in one line */
    flex-direction: column;
    text-align: left;
}
button {
  background-color: rgb(45, 0, 247);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
}