
.background {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

label {
    font-family: starborn;
    color: white;
    font-size: 30px;
}

.box {
    width: 80%;
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    text-align: center;
    border: 2px solid, white;
    border-radius: 10px;
}

.toCenter {
    display: flex; /* puts everything in one line */
    justify-content: center;
    align-items: center;
    width: 50%;
}

input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #242166;
    border-radius: 4px;
    background-color: #04031d;
    font-family: "simple";
    color:#ffffff;
    font-size: 20px;
}

button {
    background-color: #242166;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    font-family: "simple";
    border-radius: 10px;
    margin: 5px;
    width: 35%;
}