@font-face {
    font-family: "starborn"; 
    src: url(fonts/Starborn.woff), format('woff');
  }
  
  @font-face {
    font-family: "vanilla";
    src: url(fonts/Vanilla\ Caramel.otf), format('opentype');
  }

h1, h2, h3, h4, h5, h6, p {
    color: white;
    margin: 5px;
    padding: 5px;
    font-family: "starborn";
}

p {
    color: white;
    margin: 5px;
    padding: 5px;
    font-family: "vanilla";
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "starborn";
}

ul {
    color: white;
    font-size: 20px;
    font-family: "vanilla";
}



header {
        background-image: linear-gradient(to bottom, #1d1a58, #08071b);
        background-size: cover;
        width: 100%;
        max-height: 125px;

        display: flex; /* puts everything in one line */
        justify-content: space-between;
        align-items: center;

        padding: 20px 40px;
        box-sizing: border-box;

        position: sticky;
        flex-wrap: nowrap;

        margin: 0 auto;
    }


#icon {
    float: left;
    height: 80px;
    width: 80px;
    margin: auto;
    margin-right: 10px;
}

.intro {
    float: left;
    width: 30%;
    height: 80px; 
    align-items: center;
    text-align: left;
}

.nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.intro h4,
.intro p {
    margin: 0;
    padding: 0;
}



/* thank you google and chatgpt for pointing out my coding errors 
    as well as showing me proper snytax <3 */



body {
    background-color: #040622;
    margin: 0;
    padding: 0;
    background-size: cover;
}




footer {
    background-image: linear-gradient(to bottom, #1d1a58, #08071b);
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 90px;

    display: flex; /* puts everything in one line */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    flex-wrap: wrap;
}

#iconend {
    float: right;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.outro {
    float: right;
    width: 30%;
    height: 50px; 
    align-items: center;
    text-align: right;
}

.outro h4,
.outro p {
    margin-right: 0;
    padding: 0;
}

.content { /* class is .*/
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.content p {
    font-family: "starborn";
}